.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
   /* Ocupa toda la altura de la ventana */
}
.section-title {
    font-size: 45px;
    color: #efb810;
    margin-bottom: 30px;
}
/* Contenedor flexbox para alinear los elementos */
.flex-container {
    display:  flex;
    width: 100%;
    align-items: center; /* Alinea verticalmente al centro */
    margin-bottom: 10px;
    gap: 20px; /* Espacio entre los elementos */
}

/* Select */
.form-select {
    padding: 10px;
    font-size: 16px;
    background-color: #fffcd1f6;
    color: #efb810;
    border: 1px solid #efb810;
    border-radius: 10px;
    width: 250px; /* Ajusta según lo que necesites */
}

/* Botón */
.btn2 {
    padding: 10px 20px;
    background-color: #ffc415;
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn2:hover {
    border: 1px solid #efb810;
    color: gold;
    background-color: white;
}
